@media screen and (max-width: 800px) {
  .wire.responsive{
    font-size:2px;
  }
  button.responsive{
    width: 320px;
    height:80px;
    font-size:14px;
    padding:2px 7px;
    text-decoration:none;
  }
  .v.responsive{
    width: 450px;
    height:40px;
  }
  .s.responsive{
    border-width:7px;
  }
  .oo.responsive{
    font-size:17px;
    padding:8px;
    border-width:14px;
    line-height:31px;
  }
  .vv.responsive{
    border-width:12px;
  }
  .vm.responsive{
    font-size:35px;
    letter-spacing:7px;
    text-align:center;
    line-height:40px;
  }
  .in.responsive{
    border-width:13px;
    border-radius:20px;
    line-height:43px;
    font-size:18px;
  }
  .err.responsive{
    border-width:12px;
    border-radius:20px;
    line-height:40px;
    font-family:ham;
    font-size:15px;
  }
  .kool.responsive{
    border-width:11px;
  }
  .koo.responsive{
    font-size:33px;
    letter-spacing:4px;
    line-height:40px;
  }
  .pl.responsive{
    border-width:10px;
  }
  .pool.responsive{
    font-size:30px;
    letter-spacing:3px;
    line-height:30px;
  }
  .gee.responsive{
    border-width:8px;
    border-radius:20px;
    line-height:30px;
    font-size:17px;
  }
  .vero.responsive{
    line-height:30px;
    color:#a89cb5;
    font-size:14px
  }
}
.pl{
  border-style:double;
  border-width:15px;
  background:#c2b6cf;
  border-color:#9686a7;
  border-radius:20px;
}
.pool{
  font-family:maa;
  color:#e0d5eb;
  font-size:37px;
  letter-spacing:5px;
  text-align:center;
  line-height:45px;
}
.gee{
  background-color:#d2c8de;
  border-style:dotted;
  border-color:#c2b6cf;
  border-width:15px;
  border-radius:18px;
  line-height:40px;
  text-align:center;
  font-family:ham;
  color:white;
  font-size:25px;
}
.vero{
  line-height:40px;
  text-align:center;
  font-family:ham;
  color:#a89cb5;
  list-style-type:none;
  font-size:20px
}
.no{
  text-decoration:none;
  text-align:center;
  color:#5f7a7a;
}
.v{
  height:60px;
  width:800px;
}
.koo{
  font-family:maa;
  color:#f7eeeb;
  font-size:40px;
  letter-spacing:5px;
  text-align:center;
  line-height:5px;
}
.kool{
  border-style:double;
  border-width:15px;
  background:#e3bfb1;
  border-color:#c7a091;
  border-radius:20px; 
}
.err{
  background-color:#f7d3b7;
  border-style:dashed;
  border-color:#e3bfb1;
  border-width:15px;
  border-radius:18px;
  line-height:50px;
  text-align:center;
  font-family:ham;
  color:#c99985;
  list-style-type:none;
  font-size:22px;
}
.vm{
  font-family:maa;
  color:#a69bb3;
  font-size:40px;
  letter-spacing:5px;
  text-align:center;
  line-height:5px;
}
.vv{
  border-style:double;
  border-width:15px;
  background:#c8c0d1;
  border-color:#a69bb3;
  border-radius:20px; 
}
.sec{
  background: linear-gradient(to bottom, #bbfcdc -2%, #9dc9c9 100%);
  border-style:double;
  border-width:10px;
  border-color:#739191;
  padding:10px 25px;
  font-size:20px;
  font-family:alp;
  border-radius:12px;
  cursor:pointer;
  text-decoration:none;
}
.wow:hover {
  box-shadow: 0 12px 16px 0 rgba(126, 158, 158, 0.781),0 17px 50px 0 rgba(126, 158, 158, 0.884);
}
.wire{
  visibility:hidden;
  font-size:10px;
}
@font-face{
  font-family:pot;
  src: url("Potra.ttf")
}
@font-face{
  font-family:vipe;
  src: url("vipereg.TTF")
}
@font-face{
  font-family:ham;
  src: url("ham.ttf")
}
@font-face{
  font-family:alp;
  src: url("alp.ttf")
}
@font-face{
  font-family:maa;
  src: url("m.ttf")
}
.wrapper {
  display: flex;
  justify-content: center;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.in{
  background-color:#bec6e6;
  border-style:double;
  border-color:#9fa5c2;
  border-width:15px;
  border-radius:20px;
  line-height:55px;
  text-align:center;
  font-family:copperplate;
  color:#8389a3;
  list-style-type:none;
  font-size:28px;
}
.s{
  border-style: double;
  border-color:#739191;
  background: linear-gradient(to top, #bbfcdc -2%, #9dc9c9 100%);
  border-width:12px;
}
.oo{
  font-family:pot;
  color:white;
  font-size:30px;
  padding:15px;
  line-height:45px;
  text-align:center;
  border-style:double;
  border-width:18px;
  background:#b8d1d1;
  border-color:#739191;
  border-radius:20px; 
}
